@page
@model AccountPage.Pages.indexModel
@{
    ViewData["Title"] = "index";
}

<h1>Bank finances</h1>

<table class="table-bordered col-6 mt-3">
    <thead>
        <tr>
            <th scope="col">Account totals</th>
            <th scope="col">@Model.AccountTotals</th>
            
        </tr>
    </thead>
    
</table>

